
body{
    background-image: url("https://kenh14cdn.com/2020/9/25/hinh-nen-iphone-11-1600990116056809485952.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    align-items: center;
    display: flex;
    height: 100vh;
}
.main{
    margin-top: 40px;
    border-radius: 15px;
    background-color: white;
    margin: 0 auto;
    max-width: 450px;
   

}
.top_main{
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
             width:100%;
             
}
.bt_main{ padding: 0 1.5rem 2rem 1.5rem;}
h1,p{
    text-align:center
}
.main_p{
    line-height: 1.7rem;
    font-size: 1.4rem;
    color: hsl(224, 23%, 55%);
   

}
.main_plan{
    display: grid;
    grid-auto-flow: column;
    background-color:hsl(225, 100%, 98%);
    text-align:center
}
.plan_1 strong{
    font-weight: 900;
    font-size: 1.2rem;
    color: hsl(223, 47%, 23%);
}
.plan_1 p{
    line-height: 1.3rem;
    font-size: 1.2rem;
    color: hsl(224, 23%, 55%);
}
.plan_3{color:blue;
    display: block;
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    text-align: center;
}
.button_1{
    display: block;
    background-color: hsl(245, 75%, 52%);
    padding: 1rem 0;
    text-decoration: none;
    font-weight: 700;
    font-size: 0.9rem;
    text-align: center;
    color: white;
    border-radius: 12px;
    box-shadow: 0 18px 30px -7px rgb(197, 189, 245);
}
.button_2{
    display: block;
    margin-top: 1.5rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 0.9rem;
    text-align: center;
    color: hsl(224, 23%, 55%);
}
