* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 150vh;
    background-color: #f2f3f5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    padding: 30px 50px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}

.login-social {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.login-btn {
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.login-btn-text {
    margin-left: 10px;
  
}
.login-icon {
    color: #999;
}

.login-btn.btn-heading {
    position: relative;
}

.login-btn.btn-second {
    background-color: #2979ff;
    color: #fff;
    margin: 20px 0;
    opacity: 1;
    position: relative;
    cursor: pointer;
}

.login-btn.btn-second::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 250%;
    left: 0;
}

.login-btn.btn-heading::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #999;
    position: absolute;
    top: 150%;
    left: 0;
}

.login-btn.btn-second:hover
{
    opacity: 0.8;
}

.login-form {
    margin-top: 40px;
}

.login-label {
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 500;
}

.login-input {
    display: block;
    padding: 15px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.signup-already, .forgot{
    font-size: 16px;
    color: #999;
    text-align: center;
    margin: 20px 0;
}

.signup-link{
    color: #2979ff; 
    text-decoration: none;
}